# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_db
DB_USER=postgres
DB_PASSWORD=2005

# Pipeline Settings
LOG_LEVEL=INFO
REPORTS_DIR=reports
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
